<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <title>gephisite</title>
</head>

{% load staticfiles %}

<body>
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
    <div id="menu">
        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#news">Presentazione</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
                <ul>
                    {% if user.get_username == 'admin' %}
                        <div class="panel">
                            <!--<li><a href="#username">{{ user.get_username }}</a></li>-->
                            <button class="userbtn">{{ user.get_username }}</button>
                            <div class="dropdown">
                                <li><a href="{% url 'admin:index' %}">pannello</a></li>
                            </div>
                        </div>
                    {% else %}
                        <button class="userbtn">{{ user.get_username }}</button>
                    {% endif %}

                    <div class="logout">
                        <li><a class="active" href="{% url 'logout' %}">Logout</a></li>
                    </div>
                </ul>
        </ul>
	</div>

    {% block content %}
    {% endblock %}
</body>
</html>